<!DOCTYPE html>
<html>
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
 <link rel="icon" href="https://t.coe.psu.ac.th/~6310110533/assets/cat-logo.png" type="image/x-icon">
 <link rel="stylesheet" href="https://t.coe.psu.ac.th/~6310110533/assets/style.css">
 <title>Index of /downloads</title>
</head>
<body>
	<h1>Index of /downloads</h1><p>
	<a class="DIR" href="../"><img src="https://t.coe.psu.ac.th/~6310110533/assets/back.gif">Parent Directory</a><br>
	├── [4.0K&nbsp;Apr&nbsp;22&nbsp;20:31]&nbsp;&nbsp;<a class="DIR" href="./Study/">Study</a>/<br>
	├── [4.0K&nbsp;May&nbsp;31&nbsp;13:53]&nbsp;&nbsp;<a class="DIR" href="./all/">all</a>/<br>
	├── [4.0K&nbsp;May&nbsp;31&nbsp;13:53]&nbsp;&nbsp;<a class="DIR" href="./deb/">deb</a>/<br>
	├── [4.0K&nbsp;Jun&nbsp;17&nbsp;15:28]&nbsp;&nbsp;<a class="DIR" href="./foo/">foo</a>/<br>
	├── [3.9M&nbsp;May&nbsp;18&nbsp;11:08]&nbsp;&nbsp;<a class="NORM" href="./01-Flat-Remix-Blue_20220304.tar.xz">01-Flat-Remix-Blue_20220304.tar.xz</a><br>
	├── [7.0M&nbsp;May&nbsp;18&nbsp;23:36]&nbsp;&nbsp;<a class="NORM" href="./Flat-Remix-Blue-Dark.tar.gz">Flat-Remix-Blue-Dark.tar.gz</a><br>
	├── [514K&nbsp;May&nbsp;18&nbsp;23:30]&nbsp;&nbsp;<a class="NORM" href="./Flat-Remix-GTK-Blue-Dark.tar.gz">Flat-Remix-GTK-Blue-Dark.tar.gz</a><br>
	├── [130M&nbsp;Jun&nbsp;16&nbsp;14:51]&nbsp;&nbsp;<a class="NORM" href="./PPS.exe">PPS.exe</a><br>
	└── [849K&nbsp;May&nbsp;18&nbsp;23:33]&nbsp;&nbsp;<a class="NORM" href="./uOS.tar.gz">uOS.tar.gz</a><br>
	<br><br>
	</p>
	<p>
	<br><br>
	</p>
	<form action="https://t.coe.psu.ac.th/~6310110533/upload.php" method="post" enctype="multipart/form-data">
		Select image to upload:
	<input type="file" name="fileToUpload" id="fileToUpload">
	<input type="submit" value="Upload Image" name="submit">
	</form>
	<h2>This script is from php that made with shell script. :)</h2>
	<hr>
	<p class="VERSION">
		Hello world
	</p>
</body>
</html>

